<!doctype html>
<html ng-app="studentsApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
  	<script src="js/students.js"></script>
  </head>
  <body>
    <h2>Students</h2>
    <p>
    	<div>
    		List
    		Insert
    		Update
    	</div>
    </p>
    <div ng-controller="studentsController">
    	<li ng-repeat="student in students">
            <span>{{student.name}}</span> - <span>{{student.course}}</span>
        </li>

    	<form ng-submit="insertStudent()">
    	Name: <input type="text" name="name" ng-model="name"><br>
    	Course: <input type="text" name="course" ng-model="course"><br>
    	<input type="submit" value="Insert">
    	</form>
    </div>

  </body>
</html>