<!doctype html>
<html ng-app="studentsApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
  	<script src="js/students.js"></script>
  	<link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <h2 class="headerContent">Students</h2>

    <div class="studentContent" ng-controller="studentsController" ng-init="getStudents()">
    	<form class="form-inline" ng-submit="insertStudent()">
    	<input placeholder="Name" type="text" name="name" ng-model="name">
    	<input placeholder="Course" type="text" name="course" ng-model="course">
    	<input class="btn btn-primary" type="submit" value="Insert">
    	</form>
    	
    	<table class="table">
    		<tr>
    			<th>Name</th><th>Major</th><th></th>
    		</tr>
    		<tr ng-repeat="student in students">
    			<td>{{student.name}}</td><td>{{student.course}}</td><td><button type="button" ng-click="deleteStudent(student.id)" class="btn btn-danger btn-xs">Delete</button></td>
    		</tr>
    	</table>

	
    </div>

  </body>
</html>